[SCHEMA]
pipelines=[str]
associators=[str]
plot=bool
input_directory=str
pipeline_pattern=$[int]
write_db=bool
end_time = float
track=bool
desired_processing_speed=float
nominal_framerate=float
checkpoint=bool
max_crops=int


[DEFAULT]

#___ Input File ____
input_directory=/home/derek/Data/batch_7
cam_assignment=cam_assignment.list
end_time = -1




#___ pipeline specifications _____
tracker=SmartTracker
device_map=HeuristicDeviceMap
associators=HungarianIOUAssociator
pipelines=RetinanetFullFramePipelineMulti,RetinanetCropFramePipelineMulti
pipeline_pattern=0,1,1,1
max_crops = 200

#___________ run speed ___________
desired_processing_speed=0.01
nominal_framerate=10




#________ scene homography _______
eb_homography_file=./data/homography/EB_homography_46a.cpkl
wb_homography_file=./data/homography/WB_homography_46a.cpkl
homography_file=./data/homography/P08_P40_MM.cpkl


#___________ devices _____________
cuda_devices=4


#___________ writing _____________
write_db=True


#___________ plotting ____________
plot=True

# __________ short circuit tracking _______
track=True

checkpoint=True
#checkpoint_directory=/home/derek/Documents/i24/i24_track/data/running_checkpoints

