[SCHEMA]
pipelines=[str]
associators=[str]
plot=bool
input_directory=str
pipeline_pattern=$[int]

desired_processing_speed=float
nominal_framerate=float


[DEFAULT]

#___ Input File ____
input_directory=/home/derek/Data/cv/video/06-02-2022/batch4





#___ pipeline specifications _____
tracker=SmartTracker
device_map=HeuristicDeviceMap
associators=HungarianIOUAssociator
pipelines=RetinanetFullFramePipeline,RetinanetCropFramePipeline
pipeline_pattern=0,1,1,1,1,1
#####pipelines=RetinanetFullFramePipeline
#####pipeline_pattern=0


#___________ run speed ___________
desired_processing_speed=0.01
nominal_framerate=30



#________ scene homography _______
eb_homography_file=./data/homography/EB_homography_46a.cpkl
wb_homography_file=./data/homography/WB_homography_46a.cpkl



#___________ devices _____________
cuda_devices=4


#___________ writing _____________
write_db=False


#___________ plotting ____________
plot=False


[DUMMY]
