[SCHEMA]
pipelines=[str]
associators=[str]
plot=bool
input_directory=str

log_mode=[str]
log_host_ip=$str
log_host_port=$int

desired_processing_speed=float
nominal_framerate=float


[DEFAULT]

#___ Input File ____
input_directory=/home/derek/Data/cv/video/06-02-2022/batch4




#___ pipeline specifications _____

tracker=BaseTracker
device_map=HeuristicDeviceMap

pipelines=RetinanetFullFramePipeline
associators=HungarianIOUAssociator




#___________ run speed ___________
desired_processing_speed=0.1
nominal_framerate=30



#________ scene homography _______
eb_homography_file=./data/homography/EB_homography_46a.cpkl
wb_homography_file=./data/homography/WB_homography_46a.cpkl


# ___________ filter _____________
kf_param_path=""


#___________ devices _____________
cuda_devices=4


#___________ logging _____________
log_mode=logstash,sysout
log_level=DEBUG
log_host_ip=10.2.218.61
log_host_port=5000


#___________ writing _____________
write_db=False


#___________ plotting ____________
plot=False






[DUMMY]
