[SCHEMA]
HOST=str
PORT=int
USERNAME=str
READONLY_USER=str
PASSWORD=str

GT_COLLECTION=str
RAW_COLLECTION=str
STITCHED_COLLECTION=str
RECONCILED_COLLECTION=str
DB_NAME=str
SCHEMA_FILE=str

[DEFAULT]
HOST=10.2.218.56
PORT=27017
USERNAME=i24-data
READONLY_USER=readonly
PASSWORD=mongodb@i24
SCHEMA_FILE=/home/derek/Documents/i24/i24_track/data/db/dbschema.json

GT_COLLECTION=ground_truth_one

#raw_trajectories_one
RAW_COLLECTION=garbage_dump

STITCHED_COLLECTION=stitched_trajectories
RECONCILED_COLLECTION=reconciled_trajectories
DB_NAME=trajectories




