[SCHEMA]
pipelines=[str]
associators=[str]
plot=bool
input_directory=str
pipeline_pattern=$[int]
write_db=bool
end_time = float
track=bool
desired_processing_speed=float
nominal_framerate=float
checkpoint=bool



[DEFAULT]

#___ Input File ____
input_directory=/home/derek/Data/batch_6
cam_assignment=cam_assignment.list
end_time = -1




#___ pipeline specifications _____
tracker=SmartTracker
device_map=HeuristicDeviceMap
associators=HungarianIOUAssociator
pipelines=RetinanetFullFramePipelineMulti,RetinanetCropFramePipelineMulti
pipeline_pattern=0

#___________ run speed ___________
desired_processing_speed=0.01
nominal_framerate=10




#________ scene homography _______
eb_homography_file=./data/homography/EB_homography_46a.cpkl
wb_homography_file=./data/homography/WB_homography_46a.cpkl
homography_file=./data/homography/new_hg_save.cpkl


#___________ devices _____________
cuda_devices=4


#___________ writing _____________
write_db=False


#___________ plotting ____________
plot=False

# __________ short circuit tracking _______
track=True

checkpoint=True


