#DEFINITIONS
# fov - min and max of range over which objects should be tracked, in feet
# n_init - number of required sequential high confidence detections to initialize an object
# sigma_high - minimum confidence to be considered a high confidence detection
# fsld_max - maximum number of frames for which an object can not have a high confidence detection before it is lost
# state_bounds - min,max for each state value (x,y,l,w,h,v) outside of which objects will be pruned

[SCHEMA]
fov=[int]
n_init=int
sigma_high=float
fsld_max=int
state_bounds=[float]
iou_max=float
median_initialize=bool

[DEFAULT]
fov=-1000000,1000000
n_init=5
sigma_high=0.3 
fsld_max=6
state_bounds=3700,7900,-130,130,0.1,120,0.1,15,0.1,25,-30000,30000
iou_max=0.1
median_initialize=True
